#canvas2{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
}
.slider-container {
    text-align: center;
    position: absolute;
    top: 70%; /* Adjust this value to place the slider at the desired position */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}